<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- hidden field for user id -->
  <%= f.hidden_field :user_id, :value => params['user_id'] %>

  <!-- name -->
  <div>
    <%= f.label :name, 'Name of Pet' %>
    <br>
    <%= f.text_field :name %>
  </div>

  <br>

  <!-- type -->
  <div>
    <%= f.label :type, 'Type' %>
    <br>
    <%= f.select(:type, options_for_select([['Dog', 'Dog'], ['Cat', 'Cat']], selected: :Dog )) %>
  </div>

  <br>

  <!-- breed -->
  <div>
    <%= f.label :breed, 'Breed of Pet' %>
    <br>
    <%= f.text_field :breed %>
  </div>

  <br>

  <!-- age -->
  <div>
    <%= f.label :age, 'Age of Pet' %>
    <br>
    <%= f.text_field :age %>
  </div>

  <br>

  <!-- weight -->
  <div>
    <%= f.label :weight, 'Weight of Pet' %>
    <br>
    <%= f.text_field :weight %>
  </div>

  <br>

  <!-- date of last visit -->
  <div>
    <%= f.label :date, 'Date of Last Visit' %>
    <br>
    <%= f.date_field :date %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
