<h1>Listing pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Breed</th>
      <th>Age</th>
      <th>Weight</th>
      <th>Last Visit</th>
      <!-- onlow allow vets and owners to update and delete pets -->
      <% if current_user.type == 'Veterinarian' || current_user.type == 'Owner' %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.petName %></td>
        <td><%= pet.userName %></td>
        <td><%= pet.type %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.age %></td>
        <td><%= pet.weight %></td>
        <td><%= pet.date %></td>
        <!-- onlow allow vets and owners to update and delete pets -->
        <% if current_user.type == 'Veterinarian' || current_user.type == 'Owner' %>
          <td>
            <%= link_to 'Edit', :controller => "pets", :action => "edit", :id => pet.id, :user_id => pet.userID %> |
            <%= link_to 'Delete', pet, method: :delete, :id => pet.id, :confirm => "Are you sure?" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
