<%= form_for(@appointment) do |f| %>
  <!-- error messages -->
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- hidden field for user id -->
  <%= f.hidden_field :customer, :value => params['id'] %>

  <!-- date -->
  <div>
    <%= f.label :date, 'Date' %>
    <br>
    <%= f.date_field :date %>
  </div>

  <br>

  <!-- pet -->
  <div>
    <%= f.label :pet, 'Pet' %>
    <br>
    <%= f.select(:pet_id, options_from_collection_for_select(@pets, 'id', 'name')) %>
  </div>

  <br>

  <!-- reminder -->
  <div>
    <%= f.label :reminder, 'Reminder?' %>
    <br>
    <%= f.select(:reminder, options_for_select([['Yes', 'true'], ['No', 'false']], selected: :false )) %>
  </div>

  <br>

  <!-- reason -->
  <div>
    <%= f.label :reason, 'Reason for Visit' %>
    <br>
    <%= f.text_field :reason %>
  </div>

  <br>

  <!-- submit -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
