<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Pet</th>
      <th>Reminder</th>
      <th>Reason</th>
      <% if current_user.type == "receptionist" %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.userName, :controller => "members", :action => "show", :id => appointment.customer %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.petName %></td>
        <td><%= appointment.reminder %></td>
        <td><%= appointment.reason %></td>

        <td>
	<% if current_user.type == "receptionist" %>
          <%= link_to 'Edit', edit_appointment_path(appointment) %> |
          <%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
