<!-- this is what owners can see -->
<% if current_user.type == 'Owner' %>
  <table width="1000px" align="center">
    <tr>
      <td><%= link_to "Customers", :controller => "members", :action => "index", :type => "Customer" %></td>
      <td><%= link_to "Owners", :controller => "members", :action => "index", :type => "Owner" %></td>
      <td><%= link_to "Pets", :controller => "pets", :action => "index" %></td>
      <td><%= link_to "Receptionists", :controller => "members", :action => "index", :type => "Receptionist" %></td>
      <td><%= link_to "Veterinarians", :controller => "members", :action => "index", :type => "Veterinarian" %></td>
      <td><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></td>
    </tr>
  </table>
<% end %>

<!-- this is what veterinarians can see -->
<% if current_user.type == 'Veterinarian' %>
  <table width="1000px" align="center">
    <tr>
      <td><%= link_to "Customers", :controller => "members", :action => "index", :type => "Customer" %></td>
      <td><%= link_to "Pets", :controller => "pets", :action => "index" %></td>
      <td><%= link_to "Receptionists", :controller => "members", :action => "index", :type => "Receptionist" %></td>
      <td><%= link_to "Veterinarians", :controller => "members", :action => "index", :type => "Veterinarian" %></td>
      <td><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></td>
    </tr>
  </table>
<% end %>

<!-- this is what receptionists can see -->
<% if current_user.type == 'Receptionist' %>
  <table width="1000px" align="center">
    <tr>
      <td><%= link_to "Appointments", :controller => "appointments", :action => "index" %></td>
      <td><%= link_to "Customers", :controller => "members", :action => "index", :type => "Customer" %></td>
      <td><%= link_to "Pets", :controller => "pets", :action => "index" %></td>
      <td><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></td>
    </tr>
  </table>
<% end %>

<!-- this is what customers can see -->
<% if current_user.type == 'Customer' %>
  <table width="1000px" align="center">
    <tr>
      <td><%= link_to "Appointments", :controller => "appointments", :action => "index" %></td>
      <td><%= link_to "Pets", :controller => "pets", :action => "index" %></td>
      <td><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></td>
    </tr>
  </table>
<% end %>

<br>

<div>
  You are signed in as a(n) <%= current_user.type %>
</div>
