<!DOCTYPE html>
<html>
  <head>
    <title>Rackspace</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- alerts -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      
    <!-- header -->
    <% if user_signed_in? %>
      <%= render "layouts/header" %>
    <% end %>

    <!-- body -->
    <%= yield %>
      
    <!-- footer -->
    <% if user_signed_in? %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
