<h1>
  <% if params['type'] == nil %>
    Customers
  <% else %>
    <%= params['type'] %>s
  <% end %>
</h1>

<table>
  <tr>
    <td><b>Name</b></td>
    <td><b>Address</b></td>
    <td><b>City</b></td>
    <td><b>State</b></td>
    <td><b>Zip</b></td>
    <td><b>Type</b></td>
    <!-- only show if user is on vets or owners page -->
    <% if params['type'] == "Veterinarian" || params['type'] == "Owner" %>
      <td><b>School</b></td>
      <td><b>Years</b></td>
    <% end %>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.name, :controller => 'members', :action => 'show', :id => user.id %></td>
      <td><%= user.address %></td>
      <td><%= user.city %></td>
      <td><%= user.state %></td>
      <td><%= user.zip %></td>
      <td><%= user.type %></td>
      <!-- only show if user is on vets or owners page -->
      <% if params['type'] == "Veterinarian" || params['type'] == "Owner" %>
        <td><%= user.school %></td>
        <td><%= user.years %></td>
      <% end %>
    </tr>
  <% end %>
</table>

