<!-- user information -->
<h1><%= @user.name %></h1>

Address: <%= @user.address %>
<br>
City: <%= @user.city %>
<br>
State: <%= @user.state %>
<br>
Zip: <%= @user.zip %>

<br>

<!-- links to create appointment or pet -->
<%= 
if current_user.type == 'Owner'
  link_to "Add Pet", :controller => "pets", :action => "new", :user_id => params[:id], :name => @user.name
elsif current_user.type == 'Receptionist'
  link_to "Add Appointment", :controller => "appointments", :action => "new", :user_id => params[:id], :name => @user.name
end
%>

<br>

<h2>Appointments</h2>

<!-- Only receptionists can view appointments -->
<% if current_user.type == 'Receptionist' %>
  <table>
    <tr>
      <td><b>Date</b></td>
      <td><b>Pet</b></td>
      <td><b>Reminder</b></td>
      <td><b>Reason</b></td>
      <td><b>Action</b></td>
    </tr>
    <% for appointment in @appointments %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.petName %></td>
        <td><%= appointment.reminder %></td>
        <td><%= appointment.reason %></td>
        <td>
          <%= link_to 'Edit', :controller => "appointments", :action => "edit", :id => appointment.appointmentID, :user_id => params[:id] %> |
          <%= link_to 'Destroy', :controller => "appointments", :action => "destroy", :id => appointment.appointmentID, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  Only receptionists can view appointment information.
<% end %>

<h2>Pets</h2>

<!-- Only receptionists can view appointments -->
<% if current_user.type == 'Veterinarian' || current_user.type == 'Owner' %>
  <table>
    <tr>
      <td><b>Name</b></td>
      <td><b>Type</b></td>
      <td><b>Breed</b></td>
      <td><b>Age</b></td>
      <td><b>Weight</b></td>
      <td><b>Last Visit</b></td>
      <td><b>Action</b></td>
    </tr>
    <% for pet in @pets %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.type %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.age %></td>
        <td><%= pet.weight %></td>
        <td><%= pet.date %></td>
        <td>
          <%= link_to 'Edit', :controller => "pets", :action => "edit", :id => pet.id, :user_id => pet.user_id %> |
          <%= link_to 'Destroy', method: :delete, :id => pet.id, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  Only veterinarians and owners can view pet information.
<% end %>
